<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <title>Home page</title>
</head>
<body>
    <h2>Home page</h2>
    <h3>Welcome to Simplest Server<br>(plus Routes Page!)</h3>
    <p>This is an extremely simple server example using html pages (strictly speaking, using EJS pages which are using html).</p>
    <p>This is the default page displayed by the server, index.js.</p>
    <p>
        The server is using the EJS view engine, which I find the easiest option.
        Note that the EJS view engine will assume it is looking in a folder titled 'views'.
    </p>
    <p>Type localhost:3000/other for the other page.</p>
</body>
</html>
